<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.runchen.blog.mapper.BlogCategoryMapper">

    <resultMap id="BaseResultMap" type="com.runchen.blog.entity.po.BlogCategory">
            <result column="id" property="id" />
	        <result column="name" property="name" />
	        <result column="category_desc" property="categoryDesc" />
	        <result column="icon" property="icon" />
	        <result column="rank" property="rank" />
	        <result column="deleted" property="deleted" />
	        <result column="created_by" property="createdBy" />
	        <result column="created_time" property="createdTime" />
	        <result column="modified_by" property="modifiedBy" />
	        <result column="modified_time" property="modifiedTime" />
		</resultMap>

    <!-- 表字段 -->
    <sql id="baseColumns">
     `id`, `name`, `category_desc`, `icon`, `rank`, `deleted`, `created_by`, `created_time`, `modified_by`, `modified_time`
    </sql>

 	<!-- 根据主键获取单条记录 findByKeyword-->
    <select id="findOne" resultMap="BaseResultMap" parameterType="map">
		SELECT
        	<include refid="baseColumns" />
		FROM blog_category
		<where>
          <if test="paramsMap.id != null">
		  	and id=#{paramsMap.id}
          </if>
          <if test="paramsMap.name != null and paramsMap.name != ''">
		  	and name=#{paramsMap.name}
          </if>
          <if test="paramsMap.categoryDesc != null and paramsMap.categoryDesc != ''">
		  	and category_desc=#{paramsMap.categoryDesc}
          </if>
          <if test="paramsMap.icon != null and paramsMap.icon != ''">
		  	and icon=#{paramsMap.icon}
          </if>
          <if test="paramsMap.rank != null">
		  	and rank=#{paramsMap.rank}
          </if>
          <if test="paramsMap.deleted != null">
		  	and deleted=#{paramsMap.deleted}
          </if>
          <if test="paramsMap.createdBy != null and paramsMap.createdBy != ''">
		  	and created_by=#{paramsMap.createdBy}
          </if>
          <if test="paramsMap.createdTime != null">
		  	and created_time=#{paramsMap.createdTime}
          </if>
          <if test="paramsMap.modifiedBy != null and paramsMap.modifiedBy != ''">
		  	and modified_by=#{paramsMap.modifiedBy}
          </if>
          <if test="paramsMap.modifiedTime != null">
		  	and modified_time=#{paramsMap.modifiedTime}
          </if>

        </where>
          limit 1
    </select>

	<select id="findByKeyword" resultMap="BaseResultMap" parameterType="map">
		SELECT
        	<include refid="baseColumns" />
		FROM blog_category
		<where>
          <if test="paramsMap.id != null">
		  	and id=#{paramsMap.id}
          </if>
          <if test="paramsMap.name != null and paramsMap.name != ''">
		  	and name=#{paramsMap.name}
          </if>
          <if test="paramsMap.categoryDesc != null and paramsMap.categoryDesc != ''">
		  	and category_desc=#{paramsMap.categoryDesc}
          </if>
          <if test="paramsMap.icon != null and paramsMap.icon != ''">
		  	and icon=#{paramsMap.icon}
          </if>
          <if test="paramsMap.rank != null">
		  	and rank=#{paramsMap.rank}
          </if>
          <if test="paramsMap.deleted != null">
		  	and deleted=#{paramsMap.deleted}
          </if>
          <if test="paramsMap.createdBy != null and paramsMap.createdBy != ''">
		  	and created_by=#{paramsMap.createdBy}
          </if>
          <if test="paramsMap.createdTime != null">
		  	and created_time=#{paramsMap.createdTime}
          </if>
          <if test="paramsMap.modifiedBy != null and paramsMap.modifiedBy != ''">
		  	and modified_by=#{paramsMap.modifiedBy}
          </if>
          <if test="paramsMap.modifiedTime != null">
		  	and modified_time=#{paramsMap.modifiedTime}
          </if>

       </where>
    </select>

	<select id="fuzzySelect" resultMap="BaseResultMap" parameterType="map">
		SELECT
        	<include refid="baseColumns" />
		FROM blog_category
		<where>
          <if test="paramsMap.id != null">
		  	 and id=#{paramsMap.id}
          </if>
          <if test="paramsMap.name != null and paramsMap.name != ''">
		  	or name like concat('%', #{paramsMap.name}, '%')
          </if>
          <if test="paramsMap.categoryDesc != null and paramsMap.categoryDesc != ''">
		  	or category_desc like concat('%', #{paramsMap.categoryDesc}, '%')
          </if>
          <if test="paramsMap.icon != null and paramsMap.icon != ''">
		  	or icon like concat('%', #{paramsMap.icon}, '%')
          </if>
          <if test="paramsMap.rank != null">
		  	 and rank=#{paramsMap.rank}
          </if>
          <if test="paramsMap.deleted != null">
		  	 and deleted=#{paramsMap.deleted}
          </if>
          <if test="paramsMap.createdBy != null and paramsMap.createdBy != ''">
		  	or created_by like concat('%', #{paramsMap.createdBy}, '%')
          </if>
          <if test="paramsMap.createdTime != null">
		  	 and created_time=#{paramsMap.createdTime}
          </if>
          <if test="paramsMap.modifiedBy != null and paramsMap.modifiedBy != ''">
		  	or modified_by like concat('%', #{paramsMap.modifiedBy}, '%')
          </if>
          <if test="paramsMap.modifiedTime != null">
		  	 and modified_time=#{paramsMap.modifiedTime}
          </if>

       </where>
          limit #{paramsMap.startNum}, #{paramsMap.pageSize}
    </select>

	<select id="countRows" resultType="java.lang.Integer" parameterType="map">
		SELECT
        	count(1)
		FROM blog_category
		<where>
          <if test="paramsMap.id != null">
		  	 and id=#{paramsMap.id}
          </if>
          <if test="paramsMap.name != null and paramsMap.name != ''">
		  	or name like concat('%', #{paramsMap.name}, '%')
          </if>
          <if test="paramsMap.categoryDesc != null and paramsMap.categoryDesc != ''">
		  	or category_desc like concat('%', #{paramsMap.categoryDesc}, '%')
          </if>
          <if test="paramsMap.icon != null and paramsMap.icon != ''">
		  	or icon like concat('%', #{paramsMap.icon}, '%')
          </if>
          <if test="paramsMap.rank != null">
		  	 and rank=#{paramsMap.rank}
          </if>
          <if test="paramsMap.deleted != null">
		  	 and deleted=#{paramsMap.deleted}
          </if>
          <if test="paramsMap.createdBy != null and paramsMap.createdBy != ''">
		  	or created_by like concat('%', #{paramsMap.createdBy}, '%')
          </if>
          <if test="paramsMap.createdTime != null">
		  	 and created_time=#{paramsMap.createdTime}
          </if>
          <if test="paramsMap.modifiedBy != null and paramsMap.modifiedBy != ''">
		  	or modified_by like concat('%', #{paramsMap.modifiedBy}, '%')
          </if>
          <if test="paramsMap.modifiedTime != null">
		  	 and modified_time=#{paramsMap.modifiedTime}
          </if>

        </where>
    </select>

    <!-- 更新不为NULL的字段 -->
    <update id="updateById" parameterType="com.runchen.blog.entity.po.BlogCategory">
      UPDATE blog_category
      <set>
		  <if test="name != null and name != ''" >
          	name=#{name},
          </if>
          <if test="categoryDesc != null and categoryDesc != ''" >
          	category_desc=#{categoryDesc},
          </if>
          <if test="icon != null and icon != ''" >
          	icon=#{icon},
          </if>
          <if test="rank != null" >
          	rank=#{rank},
          </if>
          <if test="deleted != null" >
          	deleted=#{deleted},
          </if>
          <if test="createdBy != null and createdBy != ''" >
          	created_by=#{createdBy},
          </if>
          <if test="createdTime != null" >
          	created_time=#{createdTime},
          </if>
          <if test="modifiedBy != null and modifiedBy != ''" >
          	modified_by=#{modifiedBy},
          </if>
          <if test="modifiedTime != null" >
          	modified_time=#{modifiedTime},
          </if>
          </set>
      WHERE id = #{id}
    </update>

	<!-- 插入全部字段 -->
    <insert id="save" parameterType="com.runchen.blog.entity.po.BlogCategory">
      INSERT INTO blog_category(
       `id`, `name`, `category_desc`, `icon`, `rank`, `deleted`, `created_by`, `created_time`, `modified_by`, `modified_time`)
      values(
      #{id},#{name},#{categoryDesc},#{icon},#{rank},#{deleted},#{createdBy},#{createdTime},#{modifiedBy},#{modifiedTime})

	</insert>

</mapper>
